<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <img class="apollo" src="https://img.icons8.com/color/48/000000/apollo.png"/>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <% if(currentUser) { %> 
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Zones
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/volumes/1/view">Zone-1</a></li>
              <li><a class="dropdown-item" href="/volumes/2/view">Zone-2</a></li>
              <li><a class="dropdown-item" href="/volumes/3/view">Zone-3</a></li>
            </ul>
          </li>
        </ul>
        <% } %>
        <div class="navbar-nav ms-auto">
            <% if(!currentUser) { %> 
              <a class="nav-link" href="/login">Login</a>
              <a class="nav-link" href="/register">Register</a>
              <% } else { %> 
              <a class="nav-link" href="/logout">Logout</a>
              <% } %>
        </div>
      </div>
    </div>
  </nav>