<% layout('partials/boilerplate') %>
<h1>Frac Tank Volume Measurement & Tracker</h1>
<div class="d-flex justify-content-evenly mt-5 flex-wrap">
  <div class="">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Zone-1</h5>
        <h6 class="card-subtitle mb-2 text-muted">Frac Tanks 1A & 1B</h6>
        <p class="card-text">
          Add Zone-1 Volume Data By Entering DTP & DTW. Or View Historical Data
          For Zone-1.
        </p>
        <a href="/volumes/1/view" class="card-link">View Data</a>
        <a href="/volumes/1/new" class="card-link">Add Volumes</a>
      </div>
    </div>
  </div>
  <div class="">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Zone-2</h5>
        <h6 class="card-subtitle mb-2 text-muted">Frac Tanks 2A & 2B</h6>
        <p class="card-text">
          Add Zone-2 Volume Data By Entering DTP & DTW. Or View Historical Data
          For Zone-2.
        </p>
        <a href="/volumes/2/view" class="card-link">View Data</a>
        <a href="/volumes/2/new" class="card-link">Add Volumes</a>
      </div>
    </div>
  </div>
  <div class="">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Zone-3</h5>
        <h6 class="card-subtitle mb-2 text-muted">Frac Tanks 3A & 3B</h6>
        <p class="card-text">
          Add Zone-3 Volume Data By Entering DTP & DTW. Or View Historical Data
          For Zone-3.
        </p>
        <a href="/volumes/3/view" class="card-link">View Data</a>
        <a href="/volumes/3/new" class="card-link">Add Volumes</a>
      </div>
    </div>
  </div>
</div>