<% layout('partials/boilerplate') %>

<div class="d-flex justify-content-center">
    <div class="">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">CPC Huntersville</h5>
            <p class="card-text">Login to CPC Huntersville Frac Tank Measurement System</p>
                <div class="d-flex justify-content-evenly">
                    <a href="/login" class="btn btn-success">Login</a>
                    <% if(currentUser)  { %>
                        <a href="/register" class="btn btn-success">Register</a>
                    <% } %>
                        
                </div>
            </div>
        </div>
    </div>
</div>