<% layout('partials/boilerplate') %>

<div class="d-flex justify-content-center">
    <div class="">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title text-center">Demo Tracker</h5>
            <h6 class="card-text text-center">Volumetric Tracking System</h6>
            <p class="card-text text-center">Please utilize the default login credentials to access and demo this application.</p>
            <p class="text-secondary text-center">Data within this application is contrived and does not represent real world scenarios.</p>
                <div class="d-flex justify-content-evenly">
                    <a href="/login" class="btn btn-success">Login</a>
                    <% if(currentUser)  { %>
                        <a href="/register" class="btn btn-success">Register</a>
                    <% } %>
                        
                </div>
            </div>
        </div>
    </div>
</div>