<% layout('partials/boilerplate') %>

<div class="row mt-3">
  <div class="col-5 offset-1">
    <div class="inputs">
      <h2 id="tank-page">Tank 3A</h2>
      <form id="tank3AInputs" class="flex">
        <input type="number" step="0.01" placeholder="DTP" />
        <input type="number" step="0.01" placeholder="DTW" />
        <button class="btn btn-primary">Calculate</button>
      </form>
    </div>

    <div>
      <form action="/volumes" method="post">
        <label class="form-label" for="zone">Zone</label>
        <input class="form-control" type="number" name="zone" id="zone" value="3" min="3" max="3">
          
        
        <label class="form-label" for="tank">Tank: </label>
        <select class="form-select" name="tank" id="tank">
            <option value="3A">3A</option>
        </select>
        
        <label class="form-label" for="totalV">Total Volume</label>
        <input
          class="form-control"
          type="number"
          id="threeAtotal"
          name="totalV"
          step="0.01"
          min="0"
          max="17000"
        />
       
        <label class="form-label" for="waterV">Water Volume</label>
        <input
          class="form-control"
          type="number"
          id="threeAwater"
          name="waterV"
          step="0.01"
          min="0"
          max="17000"
        />
        
        <label class="form-label" for="productV">Product Volume</label>
        <input
          class="form-control"
          type="number"
          id="threeAproduct"
          name="productV"
          step="0.01"
          min="0"
          max="17000"
        />

        <button class="btn btn-success mt-3">Submit</button>
      </form>
    </div>
  </div>

  <div class="col-5">
    <div class="inputs">
      <h2>Tank 3B</h2>
      <form id="tank3BInputs" class="flex">
        <input type="number" step="0.01" placeholder="DTP" />
        <input type="number" step="0.01" placeholder="DTW" />
        <button class="btn btn-primary">Calculate</button>
      </form>
    </div>

    <div>
      <form action="/volumes" method="post">
        <label class="form-label" for="zone">Zone</label>
        <input class="form-control" type="number" name="zone" id="zone" value="3" min="3" max="3">
        
        <label class="form-label" for="tank">Tank: </label>
        <select class="form-select" name="tank" id="tank">
            <option value="3B">3B</option>
        </select> 
        
        <label class="form-label" for="totalV">Total Volume</label>
        <input
          class="form-control"
          type="number"
          id="threeBtotal"
          name="totalV"
          step="0.01"
          min="0"
          max="17000"
        />
        
        <label class="form-label" for="waterV">Water Volume</label>
        <input
          class="form-control"
          type="number"
          id="threeBwater"
          name="waterV"
          step="0.01"
          min="0"
          max="17000"
        />
        
        <label class="form-label" for="productV">Product Volume</label>
        <input
          class="form-control"
          type="number"
          id="threeBproduct"
          name="productV"
          step="0.01"
          min="0"
          max="17000"
        />

        <button class="btn btn-success mt-3">Submit</button>
      </form>
    </div>
  </div>
</div>

<a href="/">Back</a>

<!--      <option value="1A">1A</option>
          <option value="1B">1B</option>
          <option value="2A">2A</option>
          <option value="2B">2B</option>
          <option value="3A">3A</option>
          <option value="3B">3B</option>
        -->