<% layout('partials/boilerplate') %>

<div class="row container-fluid mt-3">
  <div class="col-5 offset-1">
    <div class="inputs">
      <h2 id="tank-page">Tank 1A</h2>
      <form id="tank1AInputs" class="d-flex align-items-center flex-wrap validated-form" novalidate>
        <input type="number" step="0.01" placeholder="DTP" required/>
        <input type="number" step="0.01" placeholder="DTW" required/>
        <button class="btn btn-primary">Calculate</button>
      </form>
    </div>

    <div class="mt-3">
      <form action="/volumes" method="post" class="validated-form" novalidate>
        <div class="d-flex flex-wrap">
          <div class="d-flex flex-column">
            <label class="form-label" for="date">Date</label>
            <input id="date" class="form-control" type="date" name="date" required/>
          </div> 
          <div class="d-flex flex-column">
            <label class="form-label" for="zone">Zone</label>
            <input
              class="form-control"
              type="number"
              name="zone"
              id="zone"
              value="1"
              min="1"
              max="1"
              required
            />
          </div>

          <div class="d-flex flex-column">
            <label class="form-label" for="tank">Tank</label>
            <select class="form-select" name="tank" id="tank" required>
              <option value="1A">1A</option>
            </select>
          </div>
        </div>
          <label class="form-label" for="totalV">Total Volume</label>
          <input
            class="form-control"
            type="number"
            id="oneAtotal"
            name="totalV"
            step="0.01"
            min="0"
            max="17000"
            required
          />
        

        <label class="form-label" for="waterV">Water Volume</label>
        <input
          class="form-control"
          type="number"
          id="oneAwater"
          name="waterV"
          step="0.01"
          min="0"
          max="17000"
          required
        />

        <label class="form-label" for="productV">Product Volume</label>
        <input
          class="form-control"
          type="number"
          id="oneAproduct"
          name="productV"
          step="0.01"
          min="0"
          max="17000"
          required
        />

        <button class="btn btn-success mt-3">Submit</button>
      </form>
    </div>
  </div>

  <!--Tank 1B Below-->

  <div class="col-5">
    <div class="inputs">
      <h2>Tank 1B</h2>
      <form id="tank1BInputs" class="d-flex align-items-center flex-wrap validated-form" novalidate>
        <input type="number" step="0.01" placeholder="DTP" required/>
        <input type="number" step="0.01" placeholder="DTW" required/>
        <button class="btn btn-primary">Calculate</button>
      </form>
    </div>

    <div class="mt-3">
      <form action="/volumes" method="post" class="validated-form" novalidate>
        <div class="d-flex flex-wrap">
          <div class="d-flex flex-column">
            <label class="form-label" for="date">Date</label>
            <input class="form-control" type="date" name="date" required/>
          </div>
          <div class="d-flex flex-column">
            <label class="form-label" for="zone">Zone</label>
            <input
              class="form-control"
              type="number"
              name="zone"
              id="zone"
              value="1"
              min="1"
              max="1"
              required
            />
          </div>
          <div class="d-flex flex-column">
            <label class="form-label" for="tank">Tank</label>
            <select class="form-select" name="tank" id="tank" required>
              <option value="1B">1B</option>
            </select>
          </div>
        </div>

        <label class="form-label" for="totalV">Total Volume</label>
        <input
          class="form-control"
          type="number"
          id="oneBtotal"
          name="totalV"
          step="0.01"
          min="0"
          max="17000"
          required
        />

        <label class="form-label" for="waterV">Water Volume</label>
        <input
          class="form-control"
          type="number"
          id="oneBwater"
          name="waterV"
          step="0.01"
          min="0"
          max="17000"
          required
        />

        <label class="form-label" for="productV">Product Volume</label>
        <input
          class="form-control"
          type="number"
          id="oneBproduct"
          name="productV"
          step="0.01"
          min="0"
          max="17000"
          required
        />

        <button class="btn btn-success mt-3">Submit</button>
      </form>
    </div>
  </div>
</div>

<a href="/">Back</a>